.btn {
  outline: none;
  box-shadow: azure;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
}

.btn-primary {
  color: rgb(59, 149, 179);
  border-color: rgb(30, 142, 180);
  background-color: transparent;
}

input {
  width: 80%;
  border: none;
  border-top: 2px groove rgb(12, 69, 88);
  border-bottom: 2px groove rgb(0, 122, 163);
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
}

input:focus {
  outline: none;
  border: none;
  border-top: 2px solid rgb(0, 122, 163);
  border-bottom: 2px solid rgb(12, 69, 88);
}
